@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
}

.card-body{
    background-color: rgb(217 217 217);
    color: lightslategrey;
}
embed{
    /* justify-content: rig ht; */
    align-items: center;
}
.reviewstyle{
    box-shadow:0 0 10px rgba(0,0,0,.2);
    /* border: 2px solid black ; */
    border-radius: 12px;
    background-color: rgb(217 217 217);
    font-size:5px; 

}
main{
    /* background-color: aquamarine; */
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    /* background-color:floralwhite; */
    height: auto;
}
.auto-type{
    color:#54009d;
}
.auto-type2{
    color:#54009d;
}
.login{
    color: white;
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.autot{
    background-color: rgb(217 217 217);
    box-sizing: border-box;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    /* border: 2px solid black; */
    /* padding: 30px; */
    /* padding-left: 40px;
    margin-top: 20px; */
}